<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string>m</string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>0</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>1</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>2</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string>dm</string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>0</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>1</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>2</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>3</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>4</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>5</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>6</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>7</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>8</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>9</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string>cm</string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>0</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>1</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>2</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>3</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>4</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>5</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>6</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>7</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>8</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>9</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
